* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  padding: 1rem 2rem;
}

header h1 {
  font-size: 2.4rem;
}

main {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 10px solid #aaa;
}

.card {
  border: 1px solid hsl(220deg, 50%, 60%);
  position: relative;
  overflow: hidden;
  background-color: hsl(220deg, 30%, 80%);
}

.card:hover {
  transform: scale(1.2) translateY(10px);
  transition: transform 1.2s ease;
}
.card:hover img {
  border: 0.25rem solid rgb(164, 214, 63);
  transform: rotate(720deg);
  transition: transform 1.2s ease;
  transition-delay: 2s;

}

.card:hover .icon-wrapper{
  transform: rotate(-360deg);
  transition: transform 1s ease;
  transition-delay: 1s;
}
.card:hover .name{
  background-color: black;
  color: white;
  transition: background-color 7s ease,  color 6s ease;
  transition-delay: 2s;
}

.name {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: hsl(220deg, 50%, 60%);
  color: hsl(220deg, 0%,x 95%);
  text-align: center;
}

.avatar {
  text-align: center;
  padding: 0.5rem;
}

.avatar img {
  border: 0.25rem solid hsl(80deg, 50%, 70%);
  border-radius: 50%;
}

.contact {
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  color: hsl(220deg, 30%, 50%);
}

.email {}

.cell {}

.avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(80deg, 20%, 90%);
  padding: 0.5rem;
  transition-property: background-color;
  transition-delay: 3s;

}



.icon-wrapper {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}